@model Pablo_Ortiz.Modelos.Proveedor

@{
    ViewData["Title"] = "Eliminar Proveedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt-4">
    <!-- Título centrado -->
    <h1 class="text-center mb-4">Eliminar Proveedor</h1>

    <h3 class="text-center mb-3">¿Estás seguro que deseas eliminar este registro?</h3>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Cuadro del contenido -->
            <div class="p-4 border" style="border-color: #40E0D0; border-width: 2px; border-radius: 10px;">
                <h4 class="text-center">Proveedor</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Rut)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Rut)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Ubicacion)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Ubicacion.Id)
                    </dd>
                </dl>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <div class="text-center mt-3">
                        <input type="submit" value="Eliminar" class="btn btn-danger btn-lg me-2" />
                        <a asp-action="Index" class="btn btn-secondary btn-lg">Volver a la Lista</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
